* {
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
}
.wave {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.navbar {
    padding: 20px 0;
}
.navbar ul li {
    padding: 0 15px;
}
.navbar ul li a{
    color: #fff !important;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
footer ul li {
    list-style: none;
    margin-left: -33px;
    padding-bottom: 15px;
}
footer ul li a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
}
footer h5 {
    font-weight: 600;
    color: #fff;
    padding-bottom: 15px;
}
.section-get .btn {
    margin: 10px 0;
}

@media (min-width: 300px) { 
    .section-banner .text-content h1 {
        font-size: 33px;
        font-weight: 600;
    }
    .section-banner .text-content p {
        font-size: 9px;
    }
    .section-banner .text-content {
        text-align: center;
        padding-bottom: 65px;
    }
    .section-info {
        margin-top: 590px !important;
    }
    .section-enjoy .img-content img {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: 50px;
    }
    .section-enjoy .text-content {
        text-align: center;
    }
    .section-paymen .img-content img {
        width: 100%;
        height: 100%;
    }
    .section-paymen .text-content {
        margin-left: 0px;
        margin-top: 50px;
        text-align: center;
    }
    .section-sponsor img {
        width: 28%;
        height: 28%;
        margin: 20px 10px;
    }
  
 }
@media (min-width: 400px) { 
    .section-banner .text-content h1 {
        font-size: 45px;
        font-weight: 600;
    }
    .section-banner .text-content p {
        font-size: 12px;
    }
    .section-banner .text-content {
        text-align: center;
        padding-bottom: 65px;
    }
    .section-info {
        margin-top: 550px !important;
    }
    .section-enjoy .img-content img {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: 50px;
    }
    .section-enjoy .text-content {
        text-align: center;
    }
    .section-paymen .img-content img {
        width: 100%;
        height: 100%;
    }
    .section-paymen .text-content {
        margin-left: 0px;
        margin-top: 50px;
        text-align: center;
    }
    .section-sponsor img {
        width: 20%;
        height: 20%;
        margin: 22px 12px;
    }
 }
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .section-banner .text-content h1 {
        font-size: 54px;
        font-weight: 600;
    }
    .section-banner .text-content p {
        font-size: 16px;
    }
    .section-banner .text-content {
        text-align: center;
        padding-bottom: 65px;
    }
    .section-info {
        margin-top: 550px !important;
    }
    .section-enjoy .img-content img {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: 50px;
    }
    .section-enjoy .text-content {
        text-align: center;
    }
    .section-paymen .img-content img {
        width: 100%;
        height: 100%;
    }
    .section-paymen .text-content {
        margin-left: 0px;
        margin-top: 50px;
        text-align: center;
    }
    .section-sponsor img {
        width: 20%;
        height: 20%;
        margin: 22px 12px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .section-banner .text-content h1 {
        font-size: 54px;
        font-weight: 600;
    }
    .section-banner .text-content p {
        font-size: 16px;
    }
    .section-banner .text-content {
        text-align: center;
        padding-bottom: 65px;
    }
    .section-info {
        margin-top: 500px !important;
    }
    .section-enjoy .img-content img {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: 50px;
    }
    .section-enjoy .text-content {
        text-align: center;
    }
    .section-paymen .img-content img {
        width: 100%;
        height: 100%;
    }
    .section-paymen .text-content {
        margin-left: 0px;
        margin-top: 50px;
        text-align: center;
    }
    .section-sponsor img {
        width: 12%;
        height: 12%;
        margin: 22px 20px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .section-banner .text-content h1 {
        font-size: 54px;
        font-weight: 600;
    }
    .section-banner .text-content p {
        font-size: 16px;
    }
    .section-banner .text-content {
        text-align: left;
        padding-bottom: 0;
    }

    .section-info {
        margin-top: 100px !important;
    }
    .section-enjoy .img-content img {
        width: 100%;
        height: 100%;
        margin-left: 50px;
        margin-top: -50px;
    }
    .section-enjoy .text-content {
        text-align: left;
    }
    .section-paymen .img-content img {
        width: 80%;
        height: 80%;
        margin-bottom: 0px;
    }
    .section-paymen .text-content {
        margin-left: -40px;
        margin-top: 20px;
        text-align: left;
    }
    .section-sponsor img {
        width: 12%;
        height: 12%;
        margin: 22px 20px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .section-banner .text-content h1 {
        font-size: 54px;
        font-weight: 600;
    }
    .section-banner .text-content p {
        font-size: 16px;
    }
    .section-banner .text-content {
        text-align: left;
        padding-bottom: 0;
    }
    .section-info {
        margin-top: 100px !important;
    }
    .section-enjoy .img-content img {
        width: 70%;
        height: 70%;
        margin-left: 70px;
        margin-top: -50px;
    }
    .section-enjoy .text-content {
        text-align: left;
    }
    .section-paymen .img-content img {
        width: 70%;
        height: 70%;
        margin-bottom: 0px;
    }
    .section-paymen .text-content {
        margin-left: -80px;
        margin-top: 50px;
        text-align: left;
    }
    .section-sponsor img {
        width: 10%;
        height: 10%;
        margin: 22px 30px;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */